<template>
	<div class="edit">
        <nav-bar></nav-bar>
        <side-bar :parent="'Master Data'" :child="'Ex. Crud'"></side-bar>

		<div class="content-wrapper">
			<head-er :pages="'Ex. Crud'" :subPages="'Create'"></head-er>

			<section class="content">
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Create</h3>
							</div>
							<form role="form" @submit.prevent="updateData(data)">
								<div class="card-body">
									<div class="form-group">
										<label for="inputName">Name</label>
										<input type="text" :class="['form-control', error.name ? 'is-invalid' : '']" id="inputName" placeholder="Enter name" v-model="data.name">
										<div id="inputNameFeedback" class="invalid-feedback" v-if="error.name">
											{{ error.name }}
										</div>
									</div>
									<div class="form-group">
										<label for="inputCategory">Category</label>
										<input type="text" :class="['form-control', error.category ? 'is-invalid' : '']" id="inputCategory" placeholder="Category" v-model="data.category">
										<div id="inputCategoryFeedback" class="invalid-feedback" v-if="error.category">
											{{ error.category }}
										</div>
									</div>
								</div>
								<div class="card-footer">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>

        <foot-er></foot-er>
	</div>
</template>
<script>
	import Swal from 'sweetalert2'

	export default {
		data() {
			return {
				id: this.$route.params.id,
				data: {},
				error: {
					name: null,
					category: null
				}
			}
		},
		methods: {
			validation(data) {
				!data.name ? this.error.name = `Name can't be empty!` : null
				!data.category ? this.error.category = `Category can't be empty!` : null
			},
			resetError() {
				this.error.name = null
				this.error.category = null
			}
		}
	}
</script>