<template>
	<div class="index">
        <nav-bar></nav-bar>
        <side-bar :parent="'Master Data'" :child="'Ex. Crud'"></side-bar>

		<div class="content-wrapper">
			<head-er :pages="'Ex. Crud'" :subPages="'Index'"></head-er>

			<section class="content">
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">All Data</h3>
								<div class="card-tools">
									<div class="btn-group">
										<router-link :to="{ name: 'CrudCreate' }" class="btn btn-sm btn-success text-white"><i class="fas fa-plus"></i></router-link>
									</div>
								</div>
							</div>
							<div class="card-body">
								<table id="dataTableFug" class="table table-hover table-striped">
									<thead>
										<tr>
											<th>NO</th>
											<th>Name</th>
											<th>Category</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>ANJIM</td>
											<td>FUG</td>
											<td>BTN</td>
										</tr>
										<!-- <tr v-for="(product, index) in allProducts" :key="index">
											<td>{{ index + 1 }}</td>
											<td>{{ product.name }}</td>
											<td>{{ product.category }}</td>
											<td>
												<div class="btn-group">
													<router-link :to="{ name: 'CrudEdit', params: { id: product.id } }" class="btn btn-sm btn-warning text-white"><i class="fas fa-edit"></i></router-link>
													<button class="btn btn-sm btn-danger text-white" @click="deleteData(product.id, index)"><i class="fas fa-trash"></i></button>
												</div>
											</td>
										</tr> -->
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

        <foot-er></foot-er>
	</div>
</template>
<script>
	import Swal from 'sweetalert2'

	export default {
		mounted() {
			setTimeout(() => {
				$('#dataTableFug').DataTable()
			}, 3000)
		}
	}
</script>