<template>
    <div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">{{ pages }}</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><router-link :to="{ name: 'Dashboard' }">Home</router-link></li>
						<li class="breadcrumb-item active">{{ pages }}</li>
						<li class="breadcrumb-item active">{{ subPages }}</li>
					</ol>
				</div>
			</div>
		</div>
    </div>
</template>
<script>
	export default {
		props: [
			'pages',
			'subPages'
		]
	}
</script>