<template>
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<div class="sidebar">
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img :src="baseurl + 'dist/img/user2-160x160.jpg'" class="img-circle elevation-2" alt="User Image">
				</div>
				<div class="info">
					<router-link :to="{ name: 'Dashboard' }" class="d-block">Alexander Pierce</router-link>
				</div>
			</div>

			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<li :class="['nav-item', 'has-treeview', parent == 'Master Data' ? 'menu-open' : '']">
						<a href="#" :class="['nav-link', parent == 'Master Data' ? 'active' : '']">
							<i class="nav-icon fas fa-tachometer-alt"></i>
							<p>
								Master Data
								<i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<router-link :to="{ name: 'CrudIndex' }" :class="['nav-link', child == 'Ex. Crud' ? 'active' : '']">
									<i class="far fa-circle nav-icon"></i>
									<p>Ex. Crud</p>
								</router-link>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a href="pages/widgets.html" class="nav-link">
							<i class="nav-icon fas fa-th"></i>
							<p>
								Widgets
								<span class="right badge badge-danger">New</span>
							</p>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</aside>
</template>
<script>
	export default {
		props: [
			'parent',
			'child'
		],
		data() {
			return {
				baseurl: `http://localhost:8081/`
			}
		}
	}
</script>